:root {
  --accent-color: #ffb703;
  --accent-contrast-color: #000;
  --submenu-bg-color: #f1f5f9;
  --light-gray: #f5f5f5;
  --black-color: #000;
  --white-color: #fff;
  --text-light-color: #aeaeae;
  --text-black-color: #333333;
  --text-gray-color: #777977;
  --foreground-rgb: #111;
  --background-start-rgb: var(--white-color);
  --background-end-rgb: var(--white-color);
  --info-card: #003148;
  --info-card-bg: #fff;
  --innotech-color: #25567a;
  --background-gray-color: #777977;
  --input-border-color: #177aa9;
  --background-gray-color: #f8f8f8;
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
